li{
  list-style: none;
}
a,a:hover,a:visited{
  color: inherit;
  text-decoration: none;
}
a:hover{
  opacity: 0.7;
  transition:all ease 1s;
}

img{
  max-width: 100%;
}
.wrapper{
  max-width: 1360px;
  padding: 0 40px;
  margin: 0 auto;
}
.header{
  width: 100%;
  height: 70px;
  padding-top: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
}

.logo img{
  line-height: 1px;
  width: 180px;
}
.btn{
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
.hamburger{
  position: fixed;
  z-index: 10;
  padding-top: 30px;
  padding-right: 40px;
  cursor: pointer;
  transition:all ease 0.2s;
  & span{
  width: 28px;
  height: 2px;
  display: block;
  background-color: #000;
  &:first-child{
    margin-top:  10px;
   }
  &:last-child{
    margin-top: 5px;
   }
  }
  &.active{
    padding-top: 40px;
    & span{
      background-color: white;
      &:first-child{
        position: absolute;
        right: 40px;
        margin-top: 0;
        transform: rotate(45deg);
      }
      &:last-child{
        position: absolute;
        right: 40px;
        margin-top: 0;
        transform: rotate(-45deg);
      }
    }
  }
}
.slide-menu{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  & ul{
    transform: translateX(-100%);
    transition: transform 0.4s ease; 
  }
  &.active{
    width: 100%;
    height: 100%;
    background-color:#0006;
    position: fixed;
    opacity: 1;
    z-index: 2;
    & ul{
      transform: translateX(0);
      margin: 45px 0 0 50px;
      color: white;
      font-size: 0.9rem;
      & li{
        margin-bottom: 10px;
      }
    }
  }
}
.content{
  padding-top: 80px;
}

.product-list{
   display: grid;
   grid-template-columns: auto auto auto auto;
   gap: 35px;
   & img{
    margin-bottom: 10px;
   }
   & p{
    font-size: 0.75rem;
   }
}

.link-text{
  margin-top: 40px;
  text-align: center;
  font-size: 0.8rem;
}

.footer{
  display: flex;
  justify-content: space-between;
  margin: 60px auto 10px;
}

.footer-menu{
  display: flex;
  & li{
    font-size: 0.7rem;
    margin-right: 30px;
  }
}

.copyright{
  font-size: 0.6rem;
}

.title{
  font-size: 0.9rem;
  font-weight: lighter;
  margin: 40px 0 25px;
}

.pagination{
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  & li{
    font-size: 0.9rem;
    margin: 20px;
  }
}

.item{
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.item-image{
  width: 50%;
}

.item-text{
  width: 43%;
  font-size: 0.85rem;
  & P{
    margin-bottom: 30px;
  }
  & dl{
    display: flex;
    flex-wrap: wrap;
    & dt{
      width: 30%;
    }
    & dd{ 
      width: 70%;
     }
  }
}

.back{
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
  font-size: 0.85rem;
}

.about-text{
  margin: 10px 0 450px;
  & P{
    font-size: 0.9rem;
    margin: 10px 0 30px;
    line-height: 25px;
  }
}

.company{
  width: 600px;
  font-size: 0.85rem;
  & dl{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    & dt{
      width: 30%;
      border-bottom: solid 1px #dcdbdb;
      padding: 20px 0;
      &:last-of-type{
        border-bottom: none;
      }
    }
    & dd{ 
      width: 70%;
      border-bottom: solid 1px #dcdbdb;
      padding: 20px 0;
      &:last-of-type{
        border-bottom: none;
      }
    }
    }
}

.map{
  filter: grayscale(1);
  & iframe{
    width: 600px;
    height: 300px;
    margin: 30px 0 60px;
  }
}

@media only screen and (max-width: 900px){
  .slide-menu{
  &.active{
    height: 100%
   }
  }
  .product-list{
    display: grid;
    grid-template-columns: auto auto;
  }
 .item{
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
 }
 .item-image{
  width: 95%;
  margin-bottom: 30px;
 }
 .item-text{
  width: 103%;
  font-size: 0.9rem;
  }
  .back{
    margin-bottom: 100px;
  }
  .footer{
    display: flex;
    flex-direction: column;
  }
  .copyright{
    margin: 5px 0 10px;
  }
  .about-text{
    margin: 10px 0 450px;
    & P{
      font-size: 0.84rem;
      line-height: 30px;
    }
  }
  .company{
    max-width: 600px;
    padding: 0;
    max-width: 100%;
    & dl{
      display: flex;
      flex-direction: column;
      & dt{
        border-bottom: none;
        padding: 0;
        margin-top: 20px;
      }
      & dd{ 
        width: 95%;
        padding: 15px 0;
      }
      }
  }
  .map{
    & iframe{
      width: 100%;
      height: 280px;
    }
  }
}